$colorBg: rgb(255, 255, 255);
$headerGradient: linear-gradient(0deg, #c4def7 8.84%, rgba(152, 195, 232, 0) 31.12%);
$colorButtonMain: rgb(90, 152, 208);
$headerParagraphColor: rgba(31, 63, 104, 1);
$linkColor: rgba(90, 152, 208, 1);
$linkColorHover: rgb(124, 176, 221);
$clientBlockColor: rgba(90, 152, 208, 1);
$clientBlockColor2: rgba(49, 96, 153, 1);
$listLastChildcolor: rgba(31, 63, 104, 0.205);
$borderColorInput: hsla(212, 53%, 44%, 0.404);
